@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    src: local("Gilroy"),
         url("/fonts/Gilroy-Regular.woff2") format("woff2"),
         url("/fonts/Gilroy-Regular.woff") format("woff");
}
@font-face {
    font-family: "Gilroy";
    font-style: medium;
    font-weight: 600;
    src: local("Gilroy"),
         url("/fonts/Gilroy-Medium.woff2") format("woff2"),
         url("/fonts/Gilroy-Medium.woff") format("woff");
}
@font-face {
    font-family: "Gilroy";
    font-style: bold;
    font-weight: 800;
    src: local("Gilroy"),
         url("/fonts/Gilroy-Bold.woff2") format("woff2"),
         url("/fonts/Gilroy-Bold.woff") format("woff");
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Gilroy", sans-serif;
    background: #EFF1E6;
}
a{
    text-decoration: none;
    color: #141B21;
}
h1{
    font-size: 64px;
    font-style: bold;
    font-weight: 800;
    line-height: 77px;
    letter-spacing: 0em;
}
h2{
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 77px;
    margin: 0 ;
}
h3{
    font-family: Gilroy;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;

}
p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    /* margin: 0; */
    padding: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0
}
.container{
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
    
}
.mainPage{
    display: flex;
    min-height: 700px;
}
.hero{
    background: linear-gradient(137.87deg, #FFE486 0.76%, #008A97 102.1%);
    max-width: 600px;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
}
.hero-btn{
    border: 2px solid #141B21;
    color: #141B21;
    background-color: rgba(0, 125, 215, 0.3);
    padding: 17px 35px;
    margin-top: 50px;
}
.mission{
    background-color: #141B21;
    padding-top: 50px;
    padding-left: 50px;
    min-width: 900px;
}
.nav-list{
    color: white;
    display: flex;
    margin-left: 300px;
    
}
.nav__item{
    margin-right: 50px;
    cursor: pointer;
    transition: border-bottom;
}
.nav__item a{
    color: #fff;
}
.nav__item:hover{
    border-bottom: 1px solid #FFE486;
    padding-top: 4px;
    transition: .3s ease;
}
.mission-heading{
    color: white;
    font-size: 36px;
    font-weight: 400;
    margin-top: 100px;
}
.mission-defenition{
    font-family: Gilroy;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}
.aboutUs{
    margin-top: 50px;
    margin-bottom: 70px;
}
.video{
    display: flex;
    align-items: center;
}
.video iframe{
    min-width: 600px;
}
.video p{
    margin-left: 50px;
}
.center-list{
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-right: 0;
}
.center-items{
    background-color: white;
    box-shadow: 0px 0px 29px rgba(0, 43, 47, 0.28);
    margin-top: 30px;
    max-width: 500px;
}
.center-items p{
    max-width: 400px;
    padding-bottom: 35px;
    padding-left: 35px;
}
.center-items h3{
    padding-left: 35px;
}
.center-items-img{
    max-width: 500px
}
.center-items:not(:nth-child(2n)){
    margin-right: 50px;
    align-items: center;
}
.projects{
    margin-top: 75px;
}
.projects-list{
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-right: 0;
}
.projects-item{
    padding: 15px 35px 0 35px;
    background: #FFFFFF;
    box-shadow: 0px 0px 29px rgba(0, 43, 47, 0.28);
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.projects-item:not(:nth-child(2n)){
    margin-right: 50px;
    align-items: center;
}
.heading-projects{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 43px;
    color: #141B21;
    max-width: 500px;
}
.projects-item-author-name{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #141B21;
    margin: 0;

}
.projects-item-description{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #141B21;
    margin-bottom: 45px;
}
.projects-button{
    background-color: #fff;
    color: #141B21;
    border: #141B21 1px solid;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    color: #141B21;
    padding: 22px 50px;
    cursor: pointer;
    position: relative;
    margin-bottom: 10%;
}
.projects-item-author-p{
    margin-bottom: 25px;
}
.more-btn{
    background-color: #141B21;
    color: #fff;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    padding: 22px 50px;
    cursor: pointer;
    align-items: flex-end;
    margin-top: 50px;
    margin-left: auto;
    margin-right: 58px;
}
#moreProjects{
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 0;
}
.more-btn a{
    color: #fff;
}
.events{
    margin-top: 75px;
}
.events-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 0;
}
.events-list-item{
    background: #FFFFFF;
    box-shadow: 0px 0px 29px rgba(0, 43, 47, 0.28);
    max-width: 500px;
    margin-bottom: 20px;
}
.events-list-item:not(:nth-child(2n)){
    margin-right: 50px;
    align-items: center;
}
.events-content{
    padding: 0 35px 25px 35px;
}
.date p{
    margin: 0;
}
.events-description{
    margin: 24px 0;
}
.friends{
    margin-top: 75px;
}
.partners{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 0;
    align-items: center;
    justify-content: space-between;
}
.partners-item img{
    max-width: 50%;
}
.team{
    margin-top: 75px;
}
.team-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.team-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.team-item:not(:last-child){
    margin-right: 75px;
    align-items: center;
}
.team-person-name{
    margin: 0;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;

}
.team-description{
    max-width: 200px;
    text-align: center;
    margin-top: 20px;
}
form{
    align-items: center;
}
.input{
    padding: 20px;
    background-color: #EFF1E6;
    border: 1px solid #141B21;
    margin-right: 60px;
    min-width: 350px;
}
.footer{
    margin-top: 90px;
    background: white;
}
.footer img{
    margin-top: 25px;
}
.footer-contacts{
    text-align: center;
}
.footer-contacts-lists{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.contacts-items{
    margin-right: 10px;
}
.contacts-items img{
    max-width: 80%;
}
